body {
  /*  background-color: black; */
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-height: 100vh;
    max-width: 100vw;
}
/* INICIO DE PRIMERA SECCIÓN*/
.header { 
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    flex-direction: column;
    padding: 0 11%
}

.header .top { /*Tengo que alinearlos en centro o hacer un margin de ambos lados, hacer que el logo tenga un tamaño mayor y los otros un menor constraste y tamaño*/
    display: flex;
  /*  border: solid red 1px; */
    gap: 15px;

}
.top #this {
  /* border: solid brown 1px */
}

a {
    align-self: center;
    color: #f9faf8;
    text-decoration: none;
}

.top .right {
   /* border: solid salmon 1px; */
    margin-left: auto;
}

.header .container { /* Se tiene que dividir el espacio entre .middle-text y .placeholder, además de crear un cuadro de gran tamaño para .placeholder*/
    display: flex;
   /* border: solid rgb(152, 118, 190) 1px; */
    margin: 8% 0;
}

.container .middle-text{
  /*   border: solid white 1px; */ } 

#awesome {
  /*  border: solid orange 1px; */
    margin: 0;
}
#subtext {
  /*  border: solid orange 1px; */
    color: #c7c7c7;
    margin: 0;
    font-size: 15px;
}
.placeholder {
   /* border: solid rgb(215, 221, 156) 1px; */
    background-color: #808080;
    width: 50%;
    flex: 2 0 auto;
    align-self: stretch;
    display: flex;
    justify-content: center;
}

.text-place {
    align-self: center;
}
button { /*Fondo azul, letras blancas y borde ligeramente redondo*/
    background-color: #3882f6;
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    border-style: none;
    margin: 10px 0;
    font-weight: 600;
}

/* FIN DE PRIMERA SECCIÓN*/
/* INICIO DE SEGUNDA SECCIÓN*/

.middle-top {
   /* border: #5d7699 solid 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0 3% 0;
}

.imagesub {
    display: flex;
   /* border: #3882f6 solid 1px;*/
    gap: 50px;
    text-align: center;
}

.group {
 /* border: #808080 solid 1px; */
  display: flex;
  flex-flow: column;
}

img {
  width: 175px;
  height: 175px;
   border: #3882f6 solid 3px; 
}

.text {
  flex-wrap: wrap;
  width: 175px;
  font-size: 14px;
}

#info {
  font-weight: 1000;
  font-size: 36px;
  color: #1F2937;
}

/* FIN DE SEGUNDA SECCION*/
/*INICIO DE TERCERA SECCION*/

.middle-down {
  display: flex;
  border: #3882f6 solid 1px;
  flex-direction: column;
  padding: 50px 15%;
  background-color: #e5e7eb;
}

#big-quote {
  font-size: 36px;
  font-weight: 100;
  color: #1F2937;
  font-style: italic;
}

#small-quote {
  align-self: flex-end;
  font-weight: 900;
}

/*FIN DE TERCERA SECCION*/
/*INICIO DE ULTIMA SECCION*/

.down {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
 
 
}

.down .container {
  display: flex;
  background-color: #3882f6;
  width: 900px;
  height: 120px;
  border-radius: 15px;
  align-items: center;
  justify-content: space-around
}
.contain-text{
 justify-content: flex-start;
 color: #ffffff;
}

.action {
  font-size: 20px;
  font-weight: 700;
}

.small-text {
  font-weight: 100;
  font-size: 15px;
}
.butt{
  border: solid 2px white;
  align-self: center;
  justify-content: center;
}